<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <div class="list-group">
            <a  [routerLink]="['/get-user']" class="list-group-item list-group-item-success">Get Users Details</a>
            <a  [routerLink]="['/add-user']" class="list-group-item list-group-item-success">Add User</a>
            <a [routerLink]="['/update-user']" class="list-group-item list-group-item-success">Update User</a>
            <a [routerLink]="['/update-exel']" class="list-group-item list-group-item-success">Upload Excel</a>
            <a [routerLink]="['/companies']" class="list-group-item list-group-item-success">Company Details</a>
            <a [routerLink]="['/add-company']" class="list-group-item list-group-item-success">Add Company</a>
            <a [routerLink]="['/add-exchange']" class="list-group-item list-group-item-success">Add Exchange</a>
            <a [routerLink]="['/get-exchange']" class="list-group-item list-group-item-success">List of Exchange</a>
            <a [routerLink]="['/update-exchange']" class="list-group-item list-group-item-success">Update Exchange</a>
            <a [routerLink]="['/add-ipo']" class="list-group-item list-group-item-success">Add IPO</a>
            <a [routerLink]="['/get-ipo']" class="list-group-item list-group-item-success">IPO Details</a>
            <a [routerLink]="['/update-ipo']" class="list-group-item list-group-item-success">Update IPO</a>

            
          </div>

    </div>
</div>
