<div class="">
    <div class="container">

        <div class="list-group">
            <a  [routerLink]="['/get-user']" class="text-center list-group-item list-group-item-success">Get Users Details</a>
            <a  [routerLink]="['/add-user']" class="text-center list-group-item list-group-item-success">Add User</a>
            <a [routerLink]="['/update-exel']" class="text-center list-group-item list-group-item-success">Upload Excel</a>
            <a [routerLink]="['/companies']" class="text-center list-group-item list-group-item-success">Company Details</a>
            <a [routerLink]="['/add-company']" class="text-center list-group-item list-group-item-success">Add Company</a>
            <a [routerLink]="['/add-exchange']" class="text-center list-group-item list-group-item-success">Add Exchange</a>
            <a [routerLink]="['/get-exchange']" class="text-center list-group-item list-group-item-success">List of Exchange</a>
            <a [routerLink]="['/add-ipo']" class="text-center list-group-item list-group-item-success">Add IPO</a>
            <a [routerLink]="['/get-ipo']" class="text-center list-group-item list-group-item-success">IPO Details</a>
            <a [routerLink]="['/list-stock-price']" class="text-center list-group-item list-group-item-success">Stock Price Details</a>
            <a [routerLink]="['/add-stock-price']" class="text-center list-group-item list-group-item-success">Add Stock-Price </a>

            
          </div>

    </div>
</div>
