<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <div class="list-group">
            <a  [routerLink]="['/get-user']" class="list-group-item list-group-item-success">Get Users Details</a>
            <a [routerLink]="['/update-exel']" class="list-group-item list-group-item-success">Upload Excel</a>
            <a [routerLink]="['/companies']" class="list-group-item list-group-item-success">Company Details</a>
            <a [routerLink]="['/add-company']" class="list-group-item list-group-item-success">Add Company</a>
        
            
          </div>

    </div>
</div>
