<div class="container" style="width:auto;">
    <div class="row m-4">
        <div class="col" style="height: 70vh;">
            <div class="card shadow">
                <p class="h4 card-header text-center">Compare Company Charts</p>
                <form class="form-group border p-5 border-curved mt-5"  [formGroup]="compare">
                    <label for="companyname">Company Name 1:</label>
                        <div class="form-group">
                            <input type="text" class="form-control" (input)="onInputChange($event)" list="suggestedCompanies">
                            <datalist id="suggestedCompanies">
                                <option *ngFor="let company of companies" [value]="company.name" ></option>
                            </datalist>
                        </div>
                    <label for="companyname">Company Name 2:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" (input)="onInputChange($event)" list="suggestedCompanies">
                        <datalist id="suggestedCompanies">
                            <option *ngFor="let company of companies" [value]="company.name" ></option>
                        </datalist>
                    </div>
                    <label for="datetime">From:</label><br>
                    <input class="form-control" type="datetime-local" name="datetime" id="datetime" formControlName="datetime1">
                     <label for="datetime">To:</label><br>
                    <input class="form-control" type="datetime-local" name="datetime" id="datetime" formControlName="datetime2">
                
                    <div class="text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-success"  (click)="compareCompany()">Compare</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>