<div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 col">
                <p class="h4 card-header text-center">Compare Company Charts</p>
                <form class="form-group border p-5 border-curved mt-5"  [formGroup]="compare">
                    <label for="companyname">Company Name 1:</label>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="name" (input)="onInputChange($event)" list="suggestedCompanies">
                            <datalist id="suggestedCompanies">
                                <option *ngFor="let comp of company" [value]="comp.name" ></option>
                            </datalist>
                        </div>
                    <label for="companyname">Company Name 2:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="name2"  (input)="onInputChange($event)" list="suggestedCompanies1">
                        <datalist id="suggestedCompanies1">
                            <option *ngFor="let comp of company" [value]="comp.name" ></option>
                        </datalist>
                    </div>
                    <label for="date1">From:</label><br>
                    <input class="form-control" type="date" name="date1" id="date1" formControlName="date1">
                     <label for="date2">To:</label><br>
                    <input class="form-control" type="date" name="date2" id="date2" formControlName="date2">
                
                    <div class="text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-success"  (click)="compareCompany()">Compare</button>
                        </div>
                    </div>
                </form>
        
        </div>
    </div>
</div>